# Copie este arquivo para ".env" e preencha com as credenciais do seu App
# criado em https://developer.spotify.com/dashboard

SPOTIPY_CLIENT_ID=coloque_seu_client_id_aqui
SPOTIPY_CLIENT_SECRET=coloque_seu_client_secret_aqui

# Precisa ser cadastrada exatamente assim (incluindo a barra final ou não,
# igual ao que você cadastrar) na aba "Redirect URIs" do seu App no painel
# do Spotify. Só é necessária para a etapa de criação da playlist (login).
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8888/callback
